.content {
  display: flex;
  margin: 5rem;
  flex-flow: column;
  align-items: center;
}

h3 {
  color: #0f206c;
  font-size: 5rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
}
p {
  font-size: 1.7rem;
  text-align: center;
  max-width: 40rem;
}
